
/*No animation*/
.fadeInVis{

    position: relative;
    transform: translateY(10rem);
    opacity: 0;
    transition: 3s all ease;

}

/*With Animation*/
.fadeInVis.active{

    transform: translateY(0);
    opacity: 1;

}



